
.body{
    font-family: monospace,sans-serif;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    padding:50px;
    background-color: #b7cb52;
    color: white;
    margin-top: 100px;
    max-width: 30em;
    margin: 0 auto;
   
}

#myBox{
    width: 100%;
    box-sizing: border-box;
    height: 500px;
    border: 5px;
    padding-top: 350px;
  margin-top: -300px;
    background-color: rgb(103, 188, 107);
    
}

.time{
    font-size: 40px;
  margin-top: 80px;
 
}
.h3{
    color: green;
    margin-top: -50px;
    margin-bottom: px;
    font-size: larger;
    font-weight: bolder;
}

.button{
    width: 100px;
    background-color: green;
    color: white;
    padding: 14px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}







